#templateBuilderContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

#leftCol {
    height: 100%;
    width: 380px;
}

#rightCol {
    position: absolute;
    top: 0;
    left: 380px;
    right: 0px;
    height: 100%;
    background-color: #eee;
    overflow-y: auto;
}