#templatePickerPage {
    height: 100%;
    width: 100%;
    background-color: #eee;
    padding-top: 20px;
}

#templatePickerTitle {
    text-align: center;
}

.templatePickerHeader {
    margin-top: 30px;
}

.templateOption {
    cursor: pointer;
}