#templateCanvas {
    margin-top: 50px;
    margin-bottom: 50px;
}

.gridItem {
    background-color: white;
    cursor: pointer;
}

.gridItem.selected {
    border: 2px solid rgb(43, 152, 211);
}

.gridItem:hover {
    border: 1px dashed black;
}

.gridItem.selected:hover {
    border: 2px solid rgb(43, 152, 211);
}

.gridItem.selected .hoverMenu {
    background-color: rgb(43, 152, 211);
}